*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}
a{
    color: #ddd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}
body{
    background-color: #000;
    color: #ddd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}
.nav-item a:hover{
    transform: scale(1.15, 1.15);
    transition: 0.5s;
}
.card{
    border: 2px solid rgb(100, 100, 100);
    background-color: #252525;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.card a:hover{
    color: rgb(120, 0, 0);
    transition: 0.5s;
}
main{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 100px;
    /* border: 3px solid red; */
}
footer{
    background-color: #494949;
    /* border: 3px solid red; */
}
#grid{
    box-shadow: 0 -4px 2px rgb(51, 51, 51);
    display: grid;
    /* border: 3px solid red; */ 
}
.social{
    display: flex;
    justify-content: center;
}
.social a{
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: #322b2b;
}
.social a i{
    font-size: 2em;
    opacity: 0.9;
}
.social a:hover{
    background-color: #000000;
    transition: 0.5s;
}
.social a:hover i{
    color: #750000;
    transition: 0.5s;
}
.botao{
    margin: 30px 0;
}
.botao ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.botao ul li a{
    margin: 20px;
    font-size: 1.3rem;
    opacity: 0.9;
}
.botao ul li a:hover{
    color: white;
}
.direito{
    background-color: #202020;
    padding: 15px;
    text-align: center;
}

@media (max-width: 475px){
    .botao ul{
        flex-direction: column;
    }
    .botao ul li{
        width: 90%;
        text-align: center;
        margin: 10px;
    }
}

@media (min-width: 320px){
    main{
        max-width: 320px;
    }
    .card{
        width: 18rem;
        height: 26rem;
    }
    .card-img-top{
        width: 260px;
        height: 350px;
    }
}

@media (min-width: 375px){
    main{
        max-width: 375px;
    }
    .card{
        width: 9.5rem;
        height: 15rem;
    }
    .card-title{
        font-size: medium;
    }
    .card-img-top{
        width: 140px;
        height: 200px;
    }
}

@media (min-width: 425px){
    main{
        max-width: 425px;
    }
    .card{
        width: 11rem;
        height: 18rem;
    }
    .card-title{
        font-size: large;
    }
    .card-img-top{
        width: 160px;
        height: 245px;
    }
}

@media (min-width: 475px) {
    main{
        max-width: 475px;
    }
    .card{
        width: 12.5rem;
        height: 19.5rem;
    }
    .card-title{
        font-size: large;
    }
    .card-img-top{
        width: 180px;
        height: 260px;
    }
}

@media (min-width: 576px) {
    main{
        max-width: 576px;
    }
    .card{
        width: 15rem;
        height: 25rem;
    }
    .card-title{
        font-size: x-large;
    }
    .card-img-top{
        width: 220px;
        height: 340px;
    }
}

@media (min-width: 640px) {
    main{
        max-width: 640px;
    }
    .card{
        width: 15rem;
        height: 25rem;
    }
    .card-title{
        font-size: x-large;
    }
    .card-img-top{
        width: 220px;
        height: 340px;
    }
}

@media (min-width: 768px) {
    main{
        max-width: 768px;
    }
    .card{
        width: 20rem;
        height: 30rem;
    }
    .card-title{
        font-size: xx-large;
    }
    .card-img-top{
        width: 285px;
        height: 400px;
    }
}

@media (min-width: 992px) {
    main{
        max-width: 992px;
    }
    .card{
        width: 19.5rem;
        height: 29.5rem;
    }
    .card-title{
        font-size: xx-large;
    }
    .card-img-top{
        width: 285px;
        height: 400px;
    }
}

@media (min-width: 1024px) {
    main{
        max-width: 1024px;
    }
    .card{
        width: 19.5rem;
        height: 29.5rem;
    }
    .card-title{
        font-size: xx-large;
    }
    .card-img-top{
        width: 285px;
        height: 400px;
    }
}

@media (min-width: 1280px) {
    main{
        max-width: 1280px;
    }
    .card{
        width: 20rem;
        height: 30rem;
    }
    .card-title{
        font-size: xx-large;
    }
    .card-img-top{
        width: 285px;
        height: 400px;
    }
}

@media (min-width: 1400px) {
    main{
        max-width: 1400px;
    }
    .card{
        width: 20rem;
        height: 30rem;
    }
    .card-title{
        font-size: xx-large;
    }
    .card-img-top{
        width: 285px;
        height: 400px;
    }
}

@media (min-width: 1536px) {
    main{
        max-width: 1536px;
    }
    .card{
        width: 20rem;
        height: 30rem;
    }
    .card-title{
        font-size: xx-large;
    }
    .card-img-top{
        width: 285px;
        height: 400px;
    }
}