a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}
a{
    color: #ddd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}
body{
    background-color: #000;
    color: #ddd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}
img{
    width: 150px;
    height: 200px;
}

header{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: #000;
    top: 0;
    align-items: center;
    position: sticky;
    display: flex;
    box-shadow: 0 4px 2px -2px rgb(42, 42, 42);
    /* border: 3px solid red; */
}
#titulo{
    text-align: center;
    text-transform: uppercase;
}
#filme{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{font-size: xx-large;}
.cName{color: #888888;}
p{font-size: large;}

.container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: auto;
}
.element{
    margin-right: 20px;
    line-height: 20px;
    text-align: center;
}
.element2{
    margin-right: 50px;
    line-height: 20px;
    text-align: center;
}
.icon{
    width: 100px;
    height: 100px;
}

main{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 10px;
    /* border: 3px solid red; */
}

@media (min-width: 320px){
    header{
        max-width: 320px;
    }
    main{
        max-width: 320px;
    }
    #logo{
        width: 100px;
        height: 100px;
    }
    #titulo{
        font-size: x-large;
    }
    #filme{
        width: 280px;
        height: 425px;
    }
}

@media (min-width: 375px){
    header{
        max-width: 375px;
    }
    main{
        max-width: 375px;
    }
    #logo{
        width: 120px;
        height: 120px;
    }
    #titulo{
        font-size: x-large;
    }
    #filme{
        width: 340px;
        height: 500px;
    }
}

@media (min-width: 425px) {
    header{
        max-width: 425px;
    }
    main{
        max-width: 425px;
    }
    #logo{
        width: 120px;
        height: 120px;
    }
    #titulo{
        font-size: xx-large;
    }
    #filme{
        width: 395px;
        height: 595px;
    }
}

@media (min-width: 475px) {
    header{
        max-width: 475px;
    }
    main{
        max-width: 475px;
    }
    #logo{
        width: 120px;
        height: 120px;
    }
    #titulo{
        font-size: xx-large;
    }
    #filme{
        width: 400px;
        height: 600px;
    }
}

@media (min-width: 640px) {
    header{
        max-width: 640px;
    }
    main{
        max-width: 640px;
    }
    #logo{
        width: 120px;
        height: 120px;
    }
    #titulo{
        font-size: xx-large;
    }
    #filme{
        width: 400px;
        height: 600px;
    }
}

@media (min-width: 768px) {
    header{
        max-width: 768px;
    }
    main{
        max-width: 768px;
    }
    #logo{
        width: 120px;
        height: 120px;
    }
    #titulo{
        font-size: xx-large;
    }
    #filme{
        width: 400px;
        height: 600px;
    }
}

@media (min-width: 1024px) {
    header{
        max-width: 1024px;
    }
    main{
        max-width: 1024px;
    }
    #logo{
        width: 120px;
        height: 120px;
    }
    #titulo{
        font-size: xx-large;
    }
    #filme{
        width: 400px;
        height: 600px;
    }
}

@media (min-width: 1280px) {
    header{
        max-width: 1280px;
    }
    main{
        max-width: 1280px;
    }
    #logo{
        width: 120px;
        height: 120px;
    }
    #titulo{
        font-size: xx-large;
    }
    #filme{
        width: 400px;
        height: 600px;
    }
    .container{
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .element{
        margin-right: 50px;
    }
}

@media (min-width: 1536px) {
    header{
        max-width: 1536px;
    }
    main{
        max-width: 1536px;
    }
    #logo{
        width: 120px;
        height: 120px;
    }
    #titulo{
        font-size: xx-large;
    }
    #filme{
        width: 400px;
        height: 600px;
    }
    .container{
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 50px 50px;
    }
}